$imagesPath : "../images/";

BODY {
    background: url('bg-black-linen.png');
}

//teambody สำหรับ หน้าแสดง
.teamBody {
    max-width: 500px;
    width: 100%;
    background: url($imagesPath + 'bg-soccer350x452.png') no-repeat top left;
    background-size: 100% 100%;
}

.fieldSign {
    height: 29px;
    background: url($imagesPath + 'field-sign-bg-456.png') repeat-x center top;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 11px;
    A, STRONG {
        text-decoration: none;
        font-weight: bold;
        margin-top: 8px;
        padding: 0 8px 0 0;
        display: block;
    }
}

.fieldSignCorner {
    background: url('field-sign-bg.png') no-repeat center top;
    position: absolute;
    left: -22px;
    width: 22px;
    height: 29px;
}

//หน้าต่างหลัก
.wc {
    #mainbody {
        padding: 0;
    }
    .mbody {
        width: 356px;
    }
    .colContent {
        width: auto;
    }
    .team {
        padding: 2px;
        border-radius: 5px;
        position: absolute;
        width: 100%;
    }
}

.lineup.wc .team {
    padding: 0;
    border-radius: 0;
    position: static;
    top: auto;
    left: auto;
    margin-top: 0;
    margin-left: 0;
}

.fieldControls {
    opacity: 0.08;
    .matchPlayers {
        visibility: hidden;
    }
    .teamAlignment {
        border: 1px solid #000;
        background: #000;
        color: #FFF;
        opacity: 0.7;
    }
}

.lineup .fieldControls .teamAlignment {
    visibility: hidden;
}

HTML.isTouch .fieldControls {
    visibility: visible;
    opacity: 1 !important;
    .teamAlignment {
        visibility: visible;
        opacity: 1 !important;
    }
}

.teamBody:hover .fieldControls {
    opacity: 1;
}

.fieldControls {
    position: absolute;
    top: 10px;
    width: 330px;
    padding: 0 10px;
    overflow: hidden;
    z-index: 999;
    .matchPlayers {
        float: left;
    }
    .teamAlignment {
        float: right;
    }
}

.wc {
    .teamHead {
        margin-bottom: 2px;
        padding: 0;
        H5 {
            margin: 0;
        }
    }
    .teamDataColorName {
        display: none;
    }
    .teamHeadMenu {
        height: 36px;
        background: #DC0000;
        -moz-box-shadow: inset 0 0 10px #000000;
        -webkit-box-shadow: inset 0 0 10px #000000;
        box-shadow: inset 0 0 10px #000000;
    }
}

.teamHeadMenuActionsLeft {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    float: left;
    margin-right: 8px;
}

.teamHeadMenuActionsRight {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    float: left;
    margin-right: 8px;
    float: right;
    margin-left: 8px;
    margin-right: 0;
}

.teamHeadMenuActionsLeft LI {
    float: left;
    border-right: 1px solid #111;
}

.teamHeadMenuActionsRight LI {
    float: right;
    border-left: 1px solid #111;
    A {
        display: block;
        width: 35px;
        height: 36px;
        padding-left: 1px;
        text-align: center;
        line-height: 37px;
        font-size: 18px;
    }
}

.teamHeadMenuActionsLeft LI A {
    display: block;
    width: 35px;
    height: 36px;
    padding-left: 1px;
    text-align: center;
    line-height: 37px;
    font-size: 18px;
}

.onDrawer .teamHeadMenuActionsLeft LI A {
    opacity: 0.3;
}

.teamHeadMenuActionsRight LI A {
    font-size: 16px;
}

.wc {
    .cards {
        width: 350px;
        height: 493px;
        overflow: hidden;
        white-space: nowrap;
    }
    .card {
        white-space: normal;
    }
    .cards {
        .card {
            width: 350px;
            height: 493px;
            display: inline-block;
            vertical-align: top;
        }
        .cardDrawer {
            width: 200px;
            margin-left: -200px;
        }
    }
    &.onDrawer .cards .cardDrawer {
        margin-left: 0px;
    }
}

.cards .cardDrawer {
    UL {
        margin: 0;
        padding: 0;
        padding-left: 0;
        list-style: none;
    }
    H4 {
        margin: 0;
        padding: 1px 6px;
        padding: 1px 8px;
        background: #333;
    }
    A {
        padding: 5px 5px 5px 20px;
        padding: 5px 8px;
        padding: 4px 8px 7px;
        text-decoration: none;
        display: block;
        border-bottom: 1px solid #1A1A1A;
        &:hover {
            background: #3875D7;
            color: #FFF;
        }
    }
}

.wc {
    .teamHeadMenu H3 {
        font-family: "Segoe UI","Myriad Pro","myriad-pro-1","myriad-pro-2", HelveticaNeue, Helvetica, Arial, serif;
        margin: 0 8px;
        font-size: 17px;
        line-height: 34px;
        font-weight: normal;
        STRONG {
            font-weight: bold;
        }
    }
    .teamBody, .field {
        -webkit-border-radius: 0;
        -khtml-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        border-radius: 0;
    }
    .team {
        border: 0;
        -moz-box-shadow: 0px 0px 6px 3px #0A0A0A;
        -webkit-box-shadow: 0px 0px 6px 3px #0A0A0A;
        box-shadow: 0px 0px 6px 3px #0A0A0A;
    }
}

BODY.lineup.wc {
    background: #000;
}

.lineup.wc .team {
    border: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.wc {
    H5.teamNav {
        margin: -5px 0 0;
        line-height: 24px;
        font-weight: normal;
        color: #777;
        text-align: center;
        STRONG {
            font-weight: bold;
            color: #FFF;
            margin-right: 1px;
        }
    }
    .teamFoot {
        padding-top: 1px;
        white-space: nowrap;
        clear: both;
    }
}

.lineup.wc .teamFoot {
    display: none;
}

.wc {
    A.btn {
        width: 50%;
        height: 38px;
        color: #222;
        background: -webkit-linear-gradient(#FFF, #7D7D7D);
        background: -o-linear-gradient(#FFF, #7D7D7D);
        background: -moz-linear-gradient(#FFF, #7D7D7D);
        background: linear-gradient(#FFF, #7D7D7D);
        background-clip: padding-box !important;
        -moz-box-shadow: inset 0 0 10px #000000;
        -webkit-box-shadow: inset 0 0 10px #000000;
        box-shadow: inset 0 0 10px #000000;
        border: 1px solid #000;
        text-decoration: none;
        font-weight: bold;
        display: inline-block;
        vertical-align: top;
        -webkit-border-radius: 3px;
        -khtml-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        border-radius: 3px;
        line-height: 36px;
        text-align: center;
    }
    .export .share-social {
        overflow: hidden;
        .btn {
            height: 28px;
            line-height: 28px;
            color: #FFF;
            width: 48%;
        }
        .btnShareFb {
            float: left;
            background: -webkit-linear-gradient(#46689D, #3A5C91);
            background: -o-linear-gradient(#46689D, #3A5C91);
            background: -moz-linear-gradient(#46689D, #3A5C91);
            background: linear-gradient(#46689D, #3A5C91);
        }
        .btnShareTw {
            float: right;
            background: -webkit-linear-gradient(#41DAFF, #28C1FE);
            background: -o-linear-gradient(#41DAFF, #28C1FE);
            background: -moz-linear-gradient(#41DAFF, #28C1FE);
            background: linear-gradient(#41DAFF, #28C1FE);
        }
    }
    .sharing .teamFoot A.btnShare {
        background: -webkit-linear-gradient(#3F3F3F, #000);
        background: -o-linear-gradient(#3F3F3F, #000);
        background: -moz-linear-gradient(#3F3F3F, #000);
        background: linear-gradient(#3F3F3F, #000);
        color: #FFF;
        -moz-box-shadow: inset 0 0 10px #000000;
        -webkit-box-shadow: inset 0 0 10px #000000;
        box-shadow: inset 0 0 10px #000000;
    }
    .teamFoot A.btn {
        &.btnLineup {
            width: 246px;
        }
        &.btnShare {
            width: 100px;
        }
    }

}

.export .preview #previewNames {
    width: 218px;
    margin-left: 2px;
}


/* IPHONE */
/*
@media screen and (max-device-width: 480px), screen and (max-width: 480px) {
    .wc .team {
        position: static;
        top: 0;
        left: 0;
        margin-top: 0px;
        margin-left: 0px;
    }
    .token {
        &:not(.empty) .tknName .text .line .plyr {
            opacity: 1;
        }
        .arrow {
            display: none !important;
        }
    }
    HTML.isTouch .token:not(.empty) .tknName .text .plyr {
        font-size: 12px;
        line-height: 16px;
    }
    .teamHead {
        display: block;
        .teamNav {
            display: none;
        }
    }
}
*/

BODY.lineup {
    .arrow, .cardDrawer, .panelShare {
        display: none !important;
    }
    .teamBody {
        border-radius: 0;
    }
    &.teamEngland #main {
        background-image: none;
    }
}

HTML.isTouch {
    .editable .token DFN:hover .ifSelected, .selected .ifSelected {
        margin: 0;
        border: 0;
    }
    .token .arrow {
        display: none !important;
    }
}

/*
HTML.isTouch .fieldControls .teamAlignment {
	opacity:0.7!important;
}
*/

.export .preview {
    margin: 0;
    width: auto;
    #previewNames {
        width: 210px;
        font-size: 8.5pt;
        line-height: 11pt;
    }
}

.modalClose {
    position: absolute;
    top: 6px;
    right: 6px;
    color: #808080;
    &:hover {
        color: #FFF;
    }
}

BODY .field.dragging .token:not(.empty) .tknName .text .line {
    .plyr {
        opacity: 0.1 !important;
    }
    &:nth-of-type(1) .plyr {
        opacity: 1 !important;
    }
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('fonts/glyphicons-halflings-regular.eot');
    src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format("embedded-opentype"), url('fonts/glyphicons-halflings-regular.woff') format("woff"), url('fonts/glyphicons-halflings-regular.ttf') format("truetype"), url('fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format("svg");
}
